* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--main-color: #b70303;
    --hover-color: hsl(0, 37%, 49%);
    --body-color: #1e1e2a;
    --container-color: #681010;
    --text-color: #fcfeff;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--body-color);
	overflow-x: hidden;
}
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--main-color);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--text-color);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--container-color);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--text-color);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu.top li a:hover {
	color: var(--body-color);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
#content{
    position: relative;
    width:calc(100%-280px);
    left: 280px;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}
#content nav{
    height: 56px;
    background: var(--main-color);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
}
#content nav a{
    color: var(--text-color);
}
#content nav .bx.bx-menu{
    cursor: pointer;
}
#content nav .nav-link{
    font-size: 16px;
    transition: .3 ease;
}
#content nav .nav-link:hover{
    color: var(--body-color);
}
#content nav form{
    max-width: 400px;
    width: 100%;
}
#content nav form .form-input{
  display: flex;
  align-items: center;
  height: 36px;
}
#content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--container-color);
    border-radius: 36px 0 0 36px;
}
#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--container-color);
    color: var(--text-color);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}
#content nav .notification {
    font-size: 20px;
    position: relative;
}
#content nav .notification .num{
    position: absolute;
    top: -6px;
    right: -6px;
    width:20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--body-color);
    background: white;
    color: #060714;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius:50% ;
}
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--text-color);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--container-color);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--main-color);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--container-color);
	pointer-events: unset;
}
.toggle{
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.toggle-icon{
    color: goldenrod;
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: white;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease all;
}
.toggle.active {
    background-color: whitesmoke;
}

.toggle-ball.active {
    background-color: black;
    transform: translateX(-20px);
}

body.active {
    background: whitesmoke;
}




@media screen and (max-width:768px){
    #content{
        width:calc(100%-60px);
    }
    #content nav .nav-link{
        display: none;
     }
}
@media screen and (max-width:576){
   
    #content nav form .form-input input{
        display: none;
    }
    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--text-color);
    }
    #content nav form.show .form-input input input {
        display: block;
    }
    #content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--main-color);
        background: var(--body-color);
    }
}